h1 {
    font-family: 'Courier New', monospace;
    justify-content: center;
    text-align: center;
}

body {
    font-family: 'Courier New', monospace;
}

p {
    font-family: 'Courier New', monospace;
}

.firstpage {
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

li {
    
        margin-right: 150px;
        margin-left: 80px;
}